<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBWAHqOecIFnHp4KINawuyzHBJp8pQivKI</string>
	<key>GCM_SENDER_ID</key>
	<string>1037088909477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.modulodeatendimentos</string>
	<key>PROJECT_ID</key>
	<string>mill-1c6cc</string>
	<key>STORAGE_BUCKET</key>
	<string>mill-1c6cc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037088909477:ios:bf0cd8c9b2da98533b854c</string>
</dict>
</plist>